<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        
        <!-- 단말기의 화면 가로세로에 맞추기 위해 -->
        <meta name = "viewport" content = "width = device-width, hegiht = device-height, initial-scale=1">
    </head>
    <title>홈 화면</title>
    
    <!-- css를 위한 라이브러리-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="../fonts/NanumGothic/NanumGothic-Regular.woff">
    
    <style> 
        body {
            padding-top : 80px;            
        }
        
        /* 클라이언트가 서버의 폰트를 다운받아 표시해줌으로써 클라이언트 PC에 해당 폰트가 없어도 보여줄 수 있음 
            폰트는 구글링을 통해 다운받았음.
            주렁주렁 많아보이지만 결국 브라우저별 호환을 위해서 사용
            ex) ?#iefix - IE6~-8 브라우저 버그떄문에 사용, ttf-truetype 크롬, 파이어폭스, 최신버전IE
        */
        @font-face {
            font-family : 'Nanum Gothic';
            font-style : normal; 
            font-weight: 400;
            src : url('../fonts/NanumGothic/NanumGothic-Regular.eot'); /* IE9 호환성 모드때문에 필요함*/
            src : local('NanumGothic'),                               /* 시스템에 있는지 먼저 확인 */
                url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
                url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
                url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
                url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype')         
        }
        
        h1, p, a {font-family: 'Nanum Gothic'}
    </style>
    
    <body>
        <div class = "container">
            <div class = "jumbotron text-center">
                <h1><span class = "fa fa-shopping-cart"> 쇼핑몰 홈</span></h1>
                <br>
                <p>로그인하세요.</p>
                <p>계정이 없으시면 회원가입하세요.</p>
                <br>
                <a href = "/login" class = "btn btn-default">
                    <span class = "fa fa-user"></span>로그인
                </a>
                <a href = "/signup" class = "btn btn-default">
                    <span class = "fa fa-user"></span>회원가입
                </a>   
                <div class = "text-center">
                    <a href = "/auth/facebook" class = "btn btn-primary">
                        <span class = "fa fa-facebook"></span>
                        <span class = "fa fa-google"></span>
                        FaceBook
                    </a>
                </div>
                <div class = "text-center">
                    <a href ="/auth/google" class = "btn btn-default">
                        <span class = "fa fa-google-plus"></span>
                        Google
                    </a> 
                </div>
            </div>
            
        </div>
    </body>
</html>